.CoverContainer{
    position: relative;
    overflow: hidden;
    @include fsize;
    img{
        position: absolute;
        @include fsize;
        object-fit: cover;
        top: 0;
        left: 0;
        @include scale(1.2,1.2);
    }
    .layer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include fsize;
        @keyframes FadeSectionTitle {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
        h2{
            background: rgba(255,255,255,1);
            background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(194, 216, 254, 1) 50%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(194, 216, 254, 1)), color-stop(50%, rgba(139,181,254,1)), color-stop(100%, rgba(255,255,255,1)));
            background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(194, 216, 254, 1) 50%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(194, 216, 254, 1) 50%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(194, 216, 254, 1) 50%, rgba(255,255,255,1) 100%);
            background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(194, 216, 254, 1) 50%, rgba(255,255,255,1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            @include csize(auto,auto);
            opacity: 1;
            text-align: center;
            margin:0;
            padding: 5px;
            color: white;
            font-size: 70px;
            z-index: 4;
            @include text-transform(capitalize);
            @include animate(FadeSectionTitle,4s,1);
            @include text-shadow(0,5px,25px,hsla(201, 50%, 95%, 0.15), 0,0,0px,rgba(194, 216, 254, 0.2));
        }
        @include phone(400px){
            h2{
                font-size: 30px;
            }
        }
    }
}