.JoiningUsSection{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include csize(100%,400px);
    .SectionLayer{
        background-color: hsla(212, 29%, 13%, 0.5);
        @include backblur(5px);
        position: relative;
        @include fsize;
        display: flex;
        .SectionTexts{
            position: relative;
            display: inline-block;
            @include csize(auto,auto);
            @include cmax-size(450px,auto);
            margin: auto;
            h3{
                font-size: 30px;
                color: #EAF3F8;
                margin: 0 0 24px 0;
                text-align: center;
                letter-spacing: 1px;
                @include text-transform(capitalize);
            }
            a{
                background-color: #EAF3F8;
                position: relative;
                @include csize(220px,auto);
                display: block;
                padding: 14px;
                margin: 16px auto auto auto;
                text-decoration: none;
                text-align: center;
                border-radius: 7px;
                font-size: 27px;
                letter-spacing: 1px;
                font-weight: 700;
                color: #4563F7;
                @include user-select(none);
                @include text-transform(uppercase);
                @include easings(200ms);
                &:hover{
                    background-color: #4563F7;
                    color: #EAF3F8;
                }
            }
            @include phone(480px){
                h3{
                    font-size: 20px;
                }
            }
        }
    }
}