.menulist{
    background-color: transparent;
    position: fixed;
    display: flex;
    padding: 75px 0 0 0;
    top: 0;
    left: 0;
    z-index: 8;
    overflow: hidden;
    @include user-select(none);
    .menulistbg{
        background: rgba(2,84,227,0.9);
        background: -moz-linear-gradient(-45deg, rgba(2,84,227,0.9) 50%, rgba(179,0,255,0.9) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(50%, rgba(2,84,227,0.9)), color-stop(100%, rgba(179,0,255,0.9)));
        background: -webkit-linear-gradient(-45deg, rgba(2,84,227,0.9) 50%, rgba(179,0,255,0.9) 100%);
        background: -o-linear-gradient(-45deg, rgba(2,84,227,0.9) 50%, rgba(179,0,255,0.9) 100%);
        background: -ms-linear-gradient(-45deg, rgba(2,84,227,0.9) 50%, rgba(179,0,255,0.9) 100%);
        background: linear-gradient(135deg, rgba(2,84,227,0.9) 50%, rgba(179,0,255,0.9) 100%);
        position: absolute;
        @include fsize;
        @include backblur(20px);
    }
    .menulistbg_inactive{
        -webkit-clip-path: circle(0% at 34px 36px);
        clip-path: circle(0% at 34px 36px);
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    .menulistbg_active{
        -webkit-clip-path: circle(150% at 34px 36px);
        clip-path: circle(150% at 34px 36px);
        -webkit-transition: all 500ms ease-out;
        transition: all 500ms ease-out;
    }
    .menu_items{
        @include csize(100%,auto);
        @include cmax-size(500px,auto);
        position: relative;
        margin: 120px auto auto auto;
        padding: 12px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                display: block;
                border-bottom: 1px solid hsla(201, 50%, 95%, 0.08);
                &:last-child{
                    border: none;
                }
                div{
                    background-color: #eaf3f8;
                    position: relative;
                    bottom: 0;
                    margin: auto;
                    @include csize(0,3px);
                    @include cmax-size(100%,auto);
                    border-radius: 720px;
                    @include easeOutCubic(300ms);
                }
                a{
                    text-align: center;
                    display: block;
                    padding: 16px 12px 16px 12px;
                    margin: 0;
                    text-decoration: none;
                    font-size: 17px;
                    letter-spacing: 2px;
                    color: #eaf3f8;
                    @include text-transform(uppercase);
                    @include easings(300ms);
                    &:hover + {
                        div{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
    .menu_items_active{
        display: block;
    }
    .menu_items_inactive{
        display: none;
    }
}
.menulist_inactive{
    @include csize(70px,75px);
    @include easings(2s);
}
.menulist_active{
    @include fsize;
}