.navigation{
    background-color: rgba(2,84,227,0.9);
    position: fixed;
    top: 0;
    left: 0;
    @include backblur(20px);
    z-index: 9;
    @include user-select(none);
    @include csize(100%,75px);
    @include user-select(none);
    border-bottom: 1px solid hsla(201, 50%, 95%, 0.1);
    .nav{
        @include fsize;
        position: relative;
        display: grid;
        grid-template-columns: 85px 85px auto;
        .menu_toggle{
            position: relative;
            @include fsize;
            display: flex;
            .toggle_container{
                position: relative;
                margin: auto;
                @include csize(45px,45px);
                display: flex;
                cursor: pointer;
                .toggles{
                    position: relative;
                    @include csize(70%,21px);
                    margin: auto;
                    span{
                        background-color: #EAF3F8;
                        height: 3px;
                        border-radius: 720px;
                        @include easings(300ms);
                        &:first-child{
                            position: absolute;
                            width: 100%;
                            right: 0;
                            top: 0;
                        }
                        &:nth-child(2){
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        &:nth-child(3){
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
        .logo{
            position: relative;
            @include fsize;
            display: flex;
            a{
                display: inline-flex;
                @include csize(auto,auto);
                margin: auto;
                text-decoration: none;
                color: #EAF3F8;
                font-size: 16px;
                letter-spacing: 1px;
                margin: auto;
                @include text-transform(uppercase);
            }
        }
    }
}