.signup{
  position: relative;
  @include fsize;
  padding: 0;
  .bg_layer{background: rgba(211,218,253,1);
    background: -moz-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,218,253,1)), color-stop(50%, rgba(245,247,255,1)), color-stop(100%, rgba(226,231,253,1)));
    background: -webkit-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: linear-gradient(135deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    position: fixed;
    @include fsize;
    z-index: 0;
    top: 0;
    left: 0;
  }
  .circle_left{
    background: rgba(211,218,253,1);
    background: -moz-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,218,253,1)), color-stop(50%, rgba(245,247,255,1)), color-stop(100%, rgba(226,231,253,1)));
    background: -webkit-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    background: linear-gradient(135deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
    display: flex;
    position: absolute;
    z-index: 0;
    @include csize(500px,500px);
    border-radius: 720px;
    @include translate(-25%,-25%);
    @include box-shadow(15px,25px,55px,-50px,rgba(0,0,0,0.5));
    &::after{
      background: rgba(211,218,253,1);
      background: -moz-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,218,253,1)), color-stop(50%, rgba(245,247,255,1)), color-stop(100%, rgba(226,231,253,1)));
      background: -webkit-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
      background: linear-gradient(135deg, rgba(211,218,253,1) 0%, rgba(245,247,255,1) 50%, rgba(226,231,253,1) 100%);
      position: absolute;
      content: '';
      @include csize(200px,200px);
      left: 80%;
      top:25%;
      border-radius: 720px;
      z-index: 0;
      @include box-shadow(15px,25px,55px,-50px,rgba(0,0,0,0.5));
    }
    h2{
      margin:270px auto auto 180px;
      padding: 0;
      font-weight: 600;
      letter-spacing: 1px;
      color: #4563F7;
      text-align: center;
      display: inline-block;
      @include csize(200px,auto);
      @include text-transform(capitalize);
    }
  }
  @include phone(1080px){
    .circle_left{
      @include csize(270px,270px);
      &::after{
        @include csize(150px,150px);
      }
      h2{
        font-size: 16px;
        @include csize(150px,auto);
        margin:150px auto auto 70px;
      }
    }
  }
  .signup_container{
    position: relative;
    @include fsize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  12px;
    z-index: 0;
    @keyframes SignupForm_Scale {
      from{
        opacity: 0.5;
        @include scale(0.8,0.8);
      }
      to{
        opacity: 1;
        @include scale(1,1);
      }
    }
    .SignupForm_container{
      background-color: #ebeffe;
      position: relative;
      opacity: 1;
      @include csize(100%,auto);
      @include cmax-size(600px,auto);
      margin: 50px 0 0 0;
      padding: 7px;
      border-radius: 4px;
      @include scale(1,1);
      @include animate(SignupForm_Scale,500ms,1);
      border: 1px solid hsla(212, 29%, 13%, 0.07);
      @include box-shadow(0px,0px,25px,-20px,rgba(0,0,0,0.75));
      .signupForm_header{
        position: relative;
        @include csize(100%,50px);
        border-radius: 4px;
        display: grid;
        grid-template-columns: 50% 50%;
        @include user-select(none);
        .signuplinks_container{
          position: relative;
          @include fsize;
          a{
            background-color: #e7eafe;
            display: block;
            @include fsize;
            padding: 5px;
            text-decoration: none;
            border-radius: 4px;
            @include easings(200ms);
            &:hover{
              background-color: #4563F7;
              .loginlink, .signuplink{
                color: #EAF3F8;
                svg{
                  *{
                    fill: #EAF3F8;
                  }
                }
              }
            }
            %links{
              position: relative;
              @include fsize;
              text-align: center;
              font-size: 18px;
              letter-spacing: 1px;
              color: $midnight-blue-900;
              font-weight: 500;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              @include easings(200ms);
            }
            .loginlink{
              @extend %links;
              svg{
                @include csize(20px,20px);
                margin: 0 8px 0 0;
                *{
                  fill: #4563F7;
                  @include easings(200ms);
                }
              }
            }
            .signuplink{
              @extend %links;
              svg{
                @include csize(20px,20px);
                margin: 0 8px 0 0;
                *{
                  fill: #4563F7;
                  @include easings(200ms);
                }
              }
            }
          }
        }
      }
    }
    @include phone(750px){
      .SignupForm_container{
        margin: 260px 0 0 0;
      }
    }
    form{
      position: relative;
      @include fsize;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      .signup_fields{
        position: relative;
        @include csize(100%,auto);
        @include cmax-size(320px,auto);
        border-radius: 4px;
        %fileds_container{
          background-color: #FFF;
          position: relative;
          @include csize(100%,50px);
          border: 1px solid hsla(212, 29%, 13%, 0.15);
          border-radius: 4px;
          @include box-shadow(0px,0px,25px,-20px,rgba(0,0,0,0.75));
        }
        %lables{
          position: absolute;
          left: 7px;
          @include csize(auto,auto);
          font-size: 15px;
          letter-spacing: 1px;
          color: $midnight-blue-900;
          @include easings(100ms);
        }
        %inputs{
          background-color: transparent;
          position: absolute;
          @include fsize;
          left: 0;
          top: 0;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 500;
          color: $midnight-blue-900;
          border: none;
          border-radius: 4px;
        }
        .email_field{
          @extend %fileds_container;
          #username{
            @extend %lables;
          }
          .username_input{
            @extend %inputs;
          }
        }
        .password_field{
          @extend %fileds_container;
          margin: 12px 0 0 0;
          #password{
            @extend %lables;
          }
          .password_input{
            @extend %inputs;
          }
        }
        .verify_password_container{
          @extend %fileds_container;
          margin: 12px 0 0 0;
          #verify_password{
            @extend %lables;
          }
          .verify_password{
            @extend %inputs;
          }
        }
        .signup_submit{
          padding: 0;
          margin: 0;
          position: relative;
          @include csize(auto,auto);
          border-radius: 4px;
          margin: 12px 0 0 0;
          @include box-shadow(0px,0px,25px,-20px,rgba(0,0,0,0.75));
          .btnSignup{
            background-color: #4563F7;
            padding: 8px;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 600;
            color: #EAF3F8;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            @include easings(200ms);
            border: 1px solid hsla(212, 29%, 13%, 0.15);
            &:hover{
              background-color: #FFF;
              color: #4563F7;
            }
          }
        }
        .forgotten_account{
          padding: 4px 12px 8px 12px;
          display: block;
          margin: 6px 0 0 0;
          font-size: 15px;
          letter-spacing: 1px;
          font-weight: 500;
          color: $midnight-blue-900;
          @include text-transform(capitalize);
          text-decoration: none;
        }
        .other_connects_title{
          padding: 12px;
          margin: 0;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 500;
          text-align: center;
        }
        .continue_icons_container{
          position: relative;
          @include csize(100%,45px);
          display: grid;
          grid-template-columns: 50% 50%;
          %connect_styles{
            position: relative;
            @include fsize;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            letter-spacing: 1px;
          }
          .facebook_connect{
            background-color: #4267b2;
            color: #EAF3F8;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            @extend %connect_styles;
            cursor: pointer;
            svg{
              @include csize(25px,25px);
              margin: 0 12px 0 0;
            }
          }
          .google_connect{
            background-color: #FFF;
            color: black;
            @extend %connect_styles;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            cursor: pointer;
            svg{
              @include csize(25px,25px);
              margin: 0 12px 0 0;
            }
          }
        }
      }
    }
  }
}